@use '../variables' as var;

.aboutPage {
  height: 50vh;
  @include var.flex-column;

  @media screen and(max-width: var.$breakpoint-mobile) {
    height: 100vh;
  }

  p {
    width: 50%;
    font-size: var.$text-size-medium;

    @media screen and(max-width: var.$breakpoint-mobile) {
      width: 90%;
    }

    span {
      a {
        color: black;
      }
    }
  }
}
