@use '../variables' as var;

.illudContainer {
  @include var.flex-column;
  height: 100vh;

  input {
    outline: none;
    padding: 8px;
    border: 1px solid black;
    background: none;
  }
}

.controlPanelSection {
  width: 100%;
  height: 100vh;
  @include var.flex-column;
  form {
    @include var.flex-column;
    width: 50%;

    label {
      @include var.flex-column;
      text-transform: uppercase;
      width: 40%;
      margin: var.$basic-margin;
      font-size: var.$heading-size-small;

      input {
        width: 50%;
        padding: var.$basic-padding;
        outline: none;
        border: 1px solid black;
        background: none;
        color: black;

        &::placeholder {
          color: black;
        }
      }

      textarea {
        border: 1px solid black;
        outline: none;
        padding: var.$basic-padding;
        resize: none;
        width: 100%;
        height: 200px;
        color: black;

        background: none;
        &::placeholder {
          color: black;
        }
      }
    }

    button {
      @include var.basic-button;
    }
  }

  span {
    position: fixed;
    bottom: 5%;
    font-size: var.$text-size-medium;
    text-transform: uppercase;
    color: green;
    padding: 8px;
    background-color: lightgray;
    box-shadow: 0px 0px 5px 5px black;
  }
}

.homeButton {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: var.$text-size-large;
  text-decoration: none;
  color: black;
  @include var.basic-button;
}

.postSectionAdmin {
  @include var.flex-column;
  justify-content: flex-start;
  height: 60vh;

  .containerAdmin {
    // border: 1px solid black;
    overflow: auto;
    // box-shadow: 0px 0px 20px 20px lightgray;
    width: 20%;
    height: 500px;
    &::-webkit-scrollbar {
      width: 0;
    }

    .postAdmin {
      @include var.flex-column;
      align-items: flex-start;
      margin: 8px;

      h1 {
        margin: 0%;
      }

      button {
        @include var.basic-button;
        margin-left: 0%;
      }

      p {
        margin: var.$basic-margin;
        margin-bottom: 16px;
        margin-left: 0%;
      }

      .popup {
        position: fixed;
        bottom: 5%;
        font-size: var.$text-size-medium;
        text-transform: uppercase;
        color: green;
        padding: 8px;
        background-color: lightgray;
        box-shadow: 0px 0px 5px 5px black;
      }
    }
  }
}
