@use '../variables' as var;

.homePage {
  height: 100vh;
  @include var.flex-column;
  h1 {
    font-size: var.$heading-size-larger;
  }

  .postSection {
    .postContainer {
      @include var.flex-column;
      background: none;
      overflow: auto;
      height: 550px;
      width: 400px;
      // box-shadow: 0px 0px 20px 20px lightgray;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    .post {
      @include var.flex-column;
      align-items: flex-start;
      border: 1px solid black;
      width: 250px;
      margin: 16px;
      padding: 8px;

      h1 {
        font-size: var.$heading-size-medium;
        margin: 0%;
      }
    }
  }
}
