@use '../variables' as var;

nav {
  @include var.flex-row;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 2px solid black;
  margin-bottom: 10%;

  h1 {
    margin-left: 5%;
    text-transform: uppercase;
  }

  a {
    margin-right: 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      color: grey;
    }
  }
}
