$basic-padding: 8px;
$basic-margin: 8px;
$heading-size-small: 1.1rem;

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
