$basic-padding: 8px;
$basic-margin: 8px;
$heading-size-small: 1.1rem;
$heading-size-medium: 1.3rem;
$heading-size-large: 1.6rem;
$heading-size-larger: 1.8rem;

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin basic-button {
  margin: $basic-margin;
  outline: none;
  background: none;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
}
