@use './styles/variables' as var;
@use './styles/comps/admin.scss';
@use './styles/comps/home.scss';
@use './styles/comps/navbar.scss';
@use './styles/comps/postPage.scss';
@use './styles/comps/about.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var.$font-size-global;
  background-color: var.$bg-global;
  color: var.$text-color;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
